.message {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

#counselling {
    float: left;
    margin-left: 10px;
}

#counselling:hover {
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
}